@font-face {
    font-family: 'bloxatregular';
    src: url('../fonts/bloxat-pdoe-webfont.woff2') format('woff2'),
         url('font/bloxat-pdoe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'minecraftchmcmedium';
    src: url('../fonts/minecraftchmc-dblx-webfont.woff2') format('woff2'),
         url('font/minecraftchmc-dblx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	box-sizing: border-box;

}
a{
	color: black;
	text-decoration: none;
	transition: 0.3s;

}
body{
		overflow-x: hidden;
		min-width: 1400px;
		max-width: 100%;
        background-color: white;
}

body, html{
	font-family: 'minecraftchmcmedium';
	font-size: 40px;
	width: 100vw;
	max-width: 100%;
	scroll-behavior: smooth;
	


}

header{
	width: 100vw;
	background-color: #9badb7;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 7px solid #847e87;
	border-top: 7px solid #847e87;
}
.header{
	max-width: 1500px;
	min-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-family: 'bloxatregular';
	font-size: 50px;
}
.log{
	width: 420px;
	display: flex;
	justify-content: space-between;
}
.log img{
	width: 100px;
	position: absolute;
	top: 0px;

}
.links{
	width: 850px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;

}
.links a:hover{
	color: white;
	-webkit-text-stroke: 2px black;
	text-stroke: 2px black;
	transform: scale(1.1);

}

/* A SECTION */
#a{
	width: 100vw;
	max-width: 100%;

}
#a img{
	width: 100vw;
	max-width: 100%;
	border-bottom: 7px solid #847e87;
}

/* ABOUT */

#about{
	width: 100vw;
	padding-bottom: 75px;
    min-height: 870px;
}
.about{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.atext{
	width: 800px;
	padding-top: 75px;
}
.a_capt{
	width: 750px;
}
.h{
	font-family: 'bloxatregular';
	font-size: 110px;
}
.a_img{
	width: 600px;
	position: relative;
}
.a_img img{
	position: absolute;
	top: -150px;
	right: -275px;
	height: 1000px;
}


/* TOKENOMICS */

#token{
	padding-top: 100px;
	width: 100vw;
	position: relative;

}
.runs{
	position: absolute;
	top: 0px;
	width: 100vw;
	max-width: 100%;
}
.rund{
	position: absolute;
	width: 100vw;
	max-width: 100%;
	bottom: 0px;
}
.token{
	width: 1400px;
	margin: 0 auto;
}
.t{
	text-align: center;
}
.prop{
	padding-top: 100px;
	text-align: center;
	font-size: 100px;
}
.ad{
	padding-top: 75px;
	padding-bottom: 150px;
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.th{
	font-family: 'bloxatregular';
}
.ths{
	font-family: 'bloxatregular';
}

/*SOCIALS*/

#soc{
margin-top: -150px;
}
.soc{
	display: flex;
	justify-content: center;
	width: 1400px;
	margin: 0 auto;
	border-bottom: 7px solid #847e87;
}
.soc div{
	width: 500px;

}

.join{
	font-family: 'bloxatregular';
	font-size: 	200px;
	transform: translateY(200px);
}
.us{
	font-size: 400px;
}
.sgif img{
	width: 700px;
	transform: translateY(170px) translateX(-100px);
	z-index: 10;
}
.socials {
    display: flex;
    justify-content: center;  /* Center items horizontally */
    flex-wrap: wrap;          /* Allow items to wrap as needed */
    gap: 30px;                /* Add space between items */
    width: 1400px;            /* Adjust width as needed */
    margin: 0 auto;           /* Center the flex container */
    padding: 100px 0;         /* Padding for visual spacing */
}

.ss {
    flex: 0 0 auto;           /* Do not grow or shrink, and based on content width */
    transition: 0.3s;         /* Smooth transitions on hover */
}

.ss:hover {
    transform: scale(1.1);    /* Slight zoom effect on hover */
}

.socials img {
    display: block;           /* Remove bottom space caused by inline elements */
    width: 400px;             /* Fixed width for each image */
}

	
}


/* FOOTER */
footer{
border-top: 7px solid #847e87;
}
footer img{
	width: 100vw;
	max-width: 100%;
}
.disc{
	padding-left: 100px;
	padding-right: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
